.ant-layout-sider-trigger {
  background: var(--main-gradient) !important;
  transition: background-color 0.3s;
}

.ant-menu-title-content {
  color: white;
  font-weight: 450;
}

ul.ant-menu {
  background: var(--vertical-gradient) !important;
  padding-top: 2rem;
}

.ant-layout {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .demo-logo img {
    height: 20px !important;
  }
}
