.ant-layout-sider-trigger {
  background: var(--main-gradient) !important;
  transition: background-color 0.3s;
}

.ant-menu-title-content {
  color: white;
  font-weight: 450;
}

ul.ant-menu {
  background: var(--vertical-gradient) !important;
  padding-top: 2rem;
}

.ant-layout {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .demo-logo img {
    height: 20px !important;
  }
}


  
  /* Ajustar el header en móvil */
  .ant-layout-header h1 {
    font-size: 18px !important;
  }
  
  .demo-logo {
    gap: 8px !important;
  }
  
  .demo-logo img {
    height: 30px !important;
  }


/* Estilos para el Drawer en móvil */
.ant-drawer-header {
  background: var(--main-gradient) !important;
  color: white !important;
}

.ant-drawer-title {
  color: white !important;
  font-weight: bold !important;
}

.ant-drawer-close {
  color: white !important;
}
