/* index.css loaded */
:root {
  font-family: Helvetica, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  margin: 0px;
  padding: 0px;
  background: var(--main-gradient);

  /*COLORES*/

  --main-gradient: linear-gradient(90deg, #1f0d1e, #070d34);
  --vertical-gradient: linear-gradient(180deg, #1f0d1e, #070d34);
}
